*{
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
body{
    background-color: rgb(3, 1, 1);
}
header nav a {
    padding: 20px;
}
header nav i {
    color: rgb(99, 99, 17);
}
header nav a:hover{
    background-color: rgb(4, 24, 4);
    
}
header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
}
header a{
    color: beige;
    font-weight: bolder;
}
#intro {
    background-image: url(../images/1337140.png);
    height: 500px;
    padding: 50px;
    padding-top: 110px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#intro div h1 {
    font-size: 50px;
}
#intro div a {
    background: linear-gradient( black, rgb(21, 7, 34));
    padding: 14px;
    color: blueviolet;
    border-radius: 10px;
    margin-left: 30px;
}
#intro div a:hover {
    font-size: 17px;
    transition-duration: .4s;
}
#about {
    padding: 50px;
    text-align: center;
    background-color: rgb(3, 1, 1);
    color: rgb(109, 139, 47);
 }
.about-content {
    display: flex;
    padding-top: 10px;
    gap: 30px;
    text-align: center;
}
.about-content h3 {
    padding: 10px;
    color: rgb(150, 35, 35);
}
#about div i {
    font-size: 70px;
    padding-top: 30px;
    color: rgb(43, 8, 8);
}
#promo {
    padding-top: 60px;
    display: flex;
    background: linear-gradient(5deg, rgb(5, 18, 27), rgb(37, 15, 15));
    margin-left: 160px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 30px;
    text-align: center;
    border-top-left-radius: 159px;
}
.left-side{
    margin: 25px;
    padding-top: 20px;
    color: rgb(161, 161, 161);
}
.left-side a {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.left-side a:hover {
    font-size: 17px;
    transition-duration: .4s;
    background: linear-gradient(30deg,rgb(61, 3, 3),red,rgb(61, 3, 3));
    color: black;
}
.right-side{
    padding: 15px;
    padding-top: 0.37px;

}
.right-side img {
    border-radius: 360px;
    max-width: 100%;
    border: 20px;
} 
#team {
    text-align: center;
    padding-top: 50px;
    background-color: rgb(3, 1, 1);
}
.team-rh {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(135deg,black, rgb(48, 20, 45), rgb(10, 40, 49),black);
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0px 0px 11px 0px;
}
.team-member {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: azure;
}
.team-member div img {
    width: 90%;
    border-radius: 10px;
}
#team span{
    color: gray;
    margin-top: 60px;
    border-radius: 20px;
    background-color: rgb(9, 43, 43);
    padding: 10px;
}
#team span:hover{
    color:rgb(23, 10, 34);
}
hr{
    width: 160px;
    margin:auto;
    margin-top: 11px;
}